<!DOCTYPE html>
<html lang="en">
<head>
{% block styles %}
{{ bootstrap.load_css() }}
{% endblock %}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
<title>Магазин</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body style="background-color: #eee">
{% block navbar %}
{% include "_navbar.html" %}
{% endblock navbar %}
    {% block content %}

    {%with messages = get_flashed_messages(with_categories=true)%}
    {% if messages%}
    <div style="margin-left:-2.5rem">
        <ul>
            {% for category, message in messages%}
            <li class="list-group text-center alert alert-{{category}}"> {{message}}</li>
            {% endfor %}
        </ul>
    </div>
        
    {% endif %}
    {% endwith %}
    {% block sub_content %}
    
    {% endblock sub_content %}
    {% block footer %}
    {% include "_footer.html" %}
    {% endblock footer %}
     <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    {% endblock content %}
   

</body>
</html>
