{% extends "base.html" %}
{% block sub_content %}
<div class="container my-5 d-flex flex-wrap justify-content-around">
{% for product in products %}
<div class="card bg-light-subtle my-3" style="width: 18rem;">
  <img width=100 src={{product['image']}} class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{product['category']}}</h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Название: {{product['product_name']}}</li>
    <li class="list-group-item">Цена: {{product['price']}}</li>
    <li class="list-group-item">Количество: {{product['quantity']}}</li>
  </ul>
  <div class="d-flex">
{% if not session.is_admin %}
<a href="#" class="btn btn-primary flex-grow-1">Купить</a>
{% endif %}

{% if session.is_admin %}
<form action="/product-form" method="POST">
  <input class="btn btn-danger" type="submit" value="DELETE{{product['product_id']}}" name="del">
</form>
{% endif %}
  </div>
 
</div>
{% endfor %}
</div>


{% endblock sub_content %}
