
 <nav class="navbar navbar-expand-lg navbar-light bg-dark-subtle" style="padding: 0 22px !important">
  <a class="navbar-brand" href="/">Учебный магазин</a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-5">
      
      {% if session.is_admin %}
      <li class="nav-item">
        <a class="nav-link mr-2" href="/product-form">Новый продукт </a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
    {% if session.login %}
      <li class="nav-item ml-auto">
        <a class="nav-link" href="/logout">Logout </a>
      </li>
    {% else %}   
      <li class="nav-item">
        <a class="nav-link" href="/register">Register </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>