{% extends "base.html" %}
{% block sub_content %}
<div class="container">
    <h1 class="text-center my-5">О сайте</h1>
    <p class="lead text-center"><i>Данный текст сгенерирован с помощью Chat GPT.</i></p>
    <h5>Добро пожаловать в наше учебное пространство!</h5>
<p>Приветствуем вас на странице "О нас" нашего учебного интернет-магазина! 
    Этот онлайн магазин является результатом нашей увлекательной учебной пути, 
    завершившейся выпускной работой в рамках курсов повышения квалификации.
</p>

<b>Наша Миссия:</b>
<p>
Мы нацелены на создание уникального опыта онлайн-шопинга, воплощая в жизнь знания и навыки, полученные в ходе обучения. Наша миссия — предоставить вам не просто товары, а возможность погрузиться в мир инноваций, стиля и образования.
</p>
<b>Почему выбрать нас?</b>
<p>
Наш интернет-магазин не просто торгует товарами — он является учебным полем для нас, а для вас предоставляет шанс стать частью нашего образовательного процесса. Мы стремимся делиться с вами не только продуктами, но и знанием, чтобы сделать ваше онлайн-путешествие не только приятным, но и познавательным.
</p>
<p>
Присоединяйтесь к нам в этом увлекательном путешествии по миру шопинга и обучения!
</p>



</div>
{% endblock sub_content %}
